body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h3 {
  color: orange;
}
.heading-name {
  color: orange;
}

.flexable-content {
  display: flex;
}
.half-desc {
  width: 50%;
  padding-left: 5%;
}
.half-img img {
  width: 70%;
  padding-left: 20%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, rgb(245, 25, 62));
  padding: 10px 40px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.first-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  margin-top: 15px;
}

.dream-big {
  margin-top: 150px;
}

.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience-area {
  margin-top: 150px;
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

.experience-h1 {
  text-align: center;
}

.experience-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 10px 10px 50px gray;
  padding-left: 2%;
  border-radius: 10px;
}

.border-add1 {
  border-left: 8px solid tomato;
}
.border-add2 {
  border-left: 8px solid rgb(34, 0, 255);
}

footer p {
  text-align: center;
  margin-top: 60px;
}
